@tailwind base;
@tailwind components;
@tailwind utilities;

nav .custom-navlink {
        color: gray;
        text-decoration: none;  
        cursor: pointer; 
    }

nav .custom-navlink:hover {
        
        color: rgb(67, 66, 66); 
      } 

nav .active-link {
        
        background-color: red !important; /* Example: Set text color to red for the active link */
      }
      
      /* Adjust spacing for mobile devices (sm and below) */
@media (max-width: 640px) {
    .custom-navlink {
        
        padding-bottom: 12px ;  
    }
}



#dark {
    background-color: rgb(30, 1, 68);
    color: white;
}

#dark .card {
    background-color: rgb(24, 24, 99);
    color: white;
    border-color: whitesmoke;
}

#dark .sidebar {
    background-color: rgb(24, 24, 99);
    color: white;
    border-color: whitesmoke;
}

#dark .signOut {
    background-color: rgb(24, 24, 99);
    color: white;
    border-color: whitesmoke;
     
}
.group:hover .signOut {
    background-color: red; /* Example: Change background-color on hover */
    color: white; /* Change text color on hover */
    border-color: whitesmoke;
}


#light{
    background-color: white;
}

#light .signIn {
    background-color: rgb(219, 207, 207);
    color: black;
     
}

#light .sidebar {
    background-color: rgb(219, 207, 207);
    color: black;
}

